.container-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
          justify-items: center;
}

.cards {
  border: 3px solid white;
  width: 25vw;
  height: 30vw;
  cursor: pointer;
}
.bg1 {
  background: url("../img/jiujitsu.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.bg2 {
  background: url("../img/karate.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.bg3 {
  background: url("../img/handtohand.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.overlay {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  background: rgba(77, 77, 77, 0.9);
  color: #FEF5DF;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: "Playfair Display", serif;
}

.items {
  padding-left: 10px;
  letter-spacing: 3px;
}

.head {
  margin-top: 5%;
  font-size: 2vw;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}
.head hr {
  display: block;
  width: 0;
  margin-top: 10px;
  border-bottom: solid 2px #FEF5DF;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.cart-text {
  margin-top: 5%;
  padding-right: 2%;
  font-size: 1.2vw;
  opacity: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}

.cart {
  font-size: 12px;
  opacity: 0;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}
.cards:hover .overlay {
  opacity: 1;
}
.cards:hover .overlay .head {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
.cards:hover .overlay hr {
  width: 50%;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.cards:hover .overlay .cart-text {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  opacity: 1;
}
.cards:hover .overlay .cart {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
  opacity: 1;
}
