.cont-contact {
  display: block;
  margin: 0;
  height: auto;
  width: 100%;
  background-color: #fff;
  box-sizing: content-box ;
}
.cont-contact h2 {
  text-align: center;
  color: rgb(38,34,32);
  margin-top: 2%;
}
.cont-contact p {
  text-align: center;
  color: rgb(38,34,32);
  margin-top: 1%;
  font-size: 2vw;
}

.cont-contact .contact-form {
  padding: 0 10%;
  margin-top: 1%;
  width: 80%;
}
.cont-contact .contact-form input,
.cont-contact .contact-form textarea {
  margin: 10px 0px;
  border: 1px solid #808080;
  font-size: 1.2vw;
  padding: 10px 0;
  text-transform: uppercase;
}
.cont-contact .contact-form input[type=text] {
  float: left;
  margin-bottom: 8px;
  padding: 2% 1%;
  width: 45%;
}
.cont-contact .contact-form .gutter {
  margin-right: 2.8%;
}
.cont-contact .contact-form textarea {
  height: 10%;
  padding-left: 1%;
  margin-bottom: 2%;
  width: 96%;
}
.cont-contact .contact-form input[type=submit] {
  background-color: #262220;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 1.2vw;
  padding: 2% 3% 2% 3%;
}
.cont-contact .contact-form input[type=submit]:hover {
    cursor: pointer;
}